/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fBBc4.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu72xKOzY.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu5mxKOzY.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7mxKOzY.woff2)
    format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7WxKOzY.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu7GxKOzY.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Mu4mxK.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  font-family: "Roboto", sans-serif;
}

.enroll-staff-btn a,
.md\:flex > a:first-of-type {
  --w: calc(2em * 4.9);

  text-align: center;
  background-color: #339dff;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  width: var(--w);
  filter: drop-shadow(5px 5px 0.75rem rgba(1, 0, 21, 0.2));
  transition: all 0.2s;
  font-weight: bold;
}

.enroll-staff-btn a {
  display: block;
  color: #fff;
  padding-right: 18px;
  padding-left: 18px;
  width: calc(var(--w) * 1.2);
}

.invr-section-column img {
  border-radius: 15px;
  filter: drop-shadow(5px 5px 0.75rem rgba(1, 0, 21, 0.2));
  transition-duration: 0.7s;
}

header.flex-col img {
  width: 80%;
  height: 80%;
}

#main-content > article > section > table {
  font-size: 1.6em;
}

.max-w-prose {
  max-width: 125ch;
}

.prose {
  max-width: 125ch;
}

.invr-section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.invr-section-wrapper {
  margin-top: 25px;
}

.invr-section-wrapper * {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

.invr-section-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
}

.invr-column-elements * {
  text-align: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  min-height: 4.5rem;
  line-height: 1.35rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion h4 {
  color: #27272a;
  margin-bottom: 1.2em;
}

#invr-contact-form {
  margin-top: 1em;
  margin-bottom: 1em;
}

#invr-contact-form label {
  font-size: 120%;
}

#contact-form-message {
  width: 100%;
  padding: 12px 20px;
  color: #111;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#invr-contact-form input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  color: #111;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#invr-contact-form {
  border-radius: 5px;
  background: linear-gradient(
    0,
    rgba(45, 45, 45, 0.25) 0%,
    rgba(59, 59, 59, 0.25) 35%,
    rgba(51, 51, 51, 0.25) 100%
  );
  padding: 1em;
  transition: 0.2s;
}

#invr-contact-form button[type="submit"] {
  width: auto;
  border: none;
  font-weight: 555;
  color: #fff;
  text-align: center;
  background-color: #f76705;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  width: calc(2em * 4.9);
  filter: drop-shadow(5px 5px 0.75rem rgba(1, 0, 21, 0.2));
  transition: all 0.2s;
  cursor: pointer;
  font-weight: bold;
}

@media (min-width: 1024px) {
  #invr-contact-form:hover {
    transform: scale(1.05);
    border-radius: 1.5em 5em;
  }

  .invr-section-column img:hover {
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
  }

  .enroll-staff-btn a:hover,
  .md\:flex > a:first-of-type:hover {
    background-color: #ffffff;
    color: #339dff;
    filter: drop-shadow(0px 0px 0.75rem rgba(177, 173, 255, 0.2));
    transform: scale(1.1);
    font-weight: 600;
    border-radius: 3em;
  }

  #invr-contact-form button[type="submit"]:hover {
    background-color: #ffffff;
    color: #f76705;
    filter: drop-shadow(0px 0px 0.75rem rgba(177, 173, 255, 0.2));
    transform: scale(1.1);
    font-weight: 600;
    border-radius: 3em;
  }

  .invr-section-column {
    flex: 1;
  }
}

@media (max-width: 1023px) {
  .accordion {
    font-size: 14px;
  }

  .max-w-prose {
    max-width: 65ch;
  }

  .prose {
    max-width: 65ch;
  }

  .invr-section-wrapper * {
    padding-top: 15px;
  }

  .invr-section-wrapper {
    margin-top: -50px;
  }

  .invr-section-row * {
    justify-content: center;
    text-align: center;
    height: 100%;
    margin: 0 auto;
  }

  .invr-section-row {
    display: flex;
    flex-direction: column;
  }

  .invr-section-row .invr-section-element-a {
    order: 2;
  }

  .invr-section-row .invr-section-element-b {
    order: 1;
  }
}
