/* Button 'Join staff' */
.enroll-staff-btn a, .md\:flex > a:first-of-type {
  text-align: center;
  background-color: #339DFF;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 15px;
  --w: calc(2em * 4.9);
  width: var(--w);
  filter: drop-shadow(5px 5px 0.75rem rgba(1, 0, 21, 0.2));
  transition: all .2s;
}

.enroll-staff-btn a:hover, .md\:flex > a:first-of-type:hover {
  background-color: #FFFFFF;
  color: #339DFF;
  filter: drop-shadow(0px 0px 0.75rem rgba(177, 173, 255, 0.2));
  transform: scale(1.1);
  font-weight: 600;
}
/* ! Button 'Join staff' */

/* Monkey patches for CTAs */
.enroll-staff-btn a {
  display: block;
  color: #FFFFFF;
  padding-right: 18px;
  padding-left: 18px;
  width: calc(var(--w) * 1.2);
}

.enroll-staff-btn a:hover {
  border-radius: 15px;
}
/* !Monkey patches for CTAs */

/* Cheating on sections props */
#main-content > article > section > table {
  font-size: 1.6em;
}

.max-w-prose {
  max-width: 125ch;
}

.prose {
  max-width: 125ch;
}
/* !Cheating on sections props */

/* Section impl */
.invr-section-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.invr-section-wrapper {
  margin-top: 25px;    
}

.invr-section-wrapper * {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

@media only screen and (max-width: 1023px) {
  .invr-section-wrapper * {
    padding-top: 15px;
  }
}

.invr-section-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: 100%;
}

@media only screen and (min-width: 1024px) {
  .invr-section-column {
    flex: 1;
  }
}

.invr-column-elements * {
  text-align: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
}
/* !Section impl */

/* Accordion impl */
/* #accordion {
    margin: auto;
    margin-top: 10px;
    width: 80%;
}

#accordion li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    background: #FFFFFF;
    color: #000000;
    padding: 10px;
    border-radius: 4px;
}

#accordion li label {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    color: #C20000;
}

#accordion label + input[type="radio"] {
    display: none;
}

#accordion .content {
    padding: 0 10px;
    line-height: 1.25em;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type="radio"]:checked + .content {
    max-height: 400px;
} */

.accordion {
    width: 90%;
    max-width: 1000px;
    margin: 2rem auto;
  }
  .accordion-item {
    background-color: #fff;
    color: #111;
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
  }
  .accordion-item-header {
    padding: 0.5rem 3rem 0.5rem 1rem;
    min-height: 3.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  .accordion-item-header::after {
    content: "\002B";
    font-size: 2rem;
    position: absolute;
    right: 1rem;
  }
  .accordion-item-header.active::after {
    content: "\2212";
  }
  .accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  .accordion-item-body-content {
    padding: 1rem;
    line-height: 1.5rem;
    border-top: 1px solid;
    border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  }
  
  @media(max-width:767px) {
    html {
      font-size: 14px;
    }
  }
/* !Accordion impl */
