{{ $title := "Contactez-nous" }}     {{ if isset .Params "title" }}     {{ $title = .Get "title" }}         {{ end }}
{{ $emailTxt := "Votre email :" }}   {{ if isset .Params "emailTxt" }}  {{ $emailTxt = .Get "emailTxt" }}   {{ end }}
{{ $msgTxt := "Votre message :" }}   {{ if isset .Params "msgTxt" }}    {{ $msgTxt = .Get "msgTxt" }}       {{ end }}
{{ $submitTxt := "Envoyer" }}        {{ if isset .Params "submitTxt" }} {{ $submitTxt = .Get "submitTxt" }} {{ end }}

{{ if .Site.Params.Abaddon.EnableContactForm | default true }}
<h3>{{ $title }}</h4>
<form id="invr-contact-form"
  action="https://formspree.io/f/myyvndlq"
  method="POST"
>
  <label>
    {{ $emailTxt }}
    <input type="email" name="email">
  </label>
  <label>
    {{ $msgTxt }}
    <textarea name="message"></textarea>
  </label>
  <button type="submit">
    {{ $submitTxt }}
  </button>
</form>
{{ end }}