{{ $defaultValues    := .Site.Data.vocab.defaultValues.contactForm }}
{{ $emailTxt         := $defaultValues.emailTxt }}         {{ if isset .Params "emailTxt" }}         {{ $emailTxt = .Get "emailTxt" }}                 {{ end }}
{{ $msgTxt           := $defaultValues.msgTxt }}           {{ if isset .Params "msgTxt" }}           {{ $msgTxt = .Get "msgTxt" }}                     {{ end }}
{{ $submitTxt        := $defaultValues.submitTxt }}        {{ if isset .Params "submitTxt" }}        {{ $submitTxt = .Get "submitTxt" }}               {{ end }}
{{ $emailPlaceholder := $defaultValues.emailPlaceholder }} {{ if isset .Params "emailPlaceholder" }} {{ $emailPlaceholder = .Get "emailPlaceholder" }} {{ end }}
{{ $msgPlaceholder   := $defaultValues.msgPlaceholder }}   {{ if isset .Params "msgPlaceholder" }}   {{ $msgPlaceholder = .Get "msgPlaceholder" }}     {{ end }}
{{ $title            := $defaultValues.title }}            {{ if isset .Params "title" }}            {{ $title = .Get "title" }}                       {{ end }}

{{ if .Site.Params.Abaddon.EnableContactForm | default true }}
<h3>{{ $title }}</h3>
<form id="invr-contact-form"
  action="https://formspree.io/f/myyvndlq"
  method="POST"
>
  <label for="contact-form-email">
    {{ $emailTxt }}
    <input type="email" name="email" id="contact-form-email" placeholder="{{ $emailPlaceholder }}">
  </label>
  <hr style="width:0%;margin:0;padding:0;margin-top:15px;"></hr>
  <label for="contact-form-message">
    {{ $msgTxt }}
    <textarea name="message" id="contact-form-message" placeholder="{{ $msgPlaceholder }}"></textarea>
  </label>
  <button type="submit">
    {{ $submitTxt }}
  </button>
</form>
<hr>
{{ end }}
