{{ $defaultValues := .Site.Data.vocab.defaultValues.ctaJoinStaff }}
{{ $align         := $defaultValues.align }} {{ if isset .Params "align" }} {{ $align = .Get "align" }} {{ end }}
{{ $class         := $defaultValues.class }} {{ if isset .Params "class" }} {{ $class = .Get "class" }} {{ end }}
{{ $href          := $defaultValues.href }}  {{ if isset .Params "href" }}  {{ $href = .Get "href" }}   {{ end }}
{{ $label         := $defaultValues.label }} {{ if isset .Params "label" }} {{ $label = .Get "label" }} {{ end }}

<div align='{{ $align }}' class='{{ $class }}'>
  <a href='{{ $href }}'>{{ $label }}</a>
</div>
