{{ $src := "#" }}      {{ if isset .Params "src" }}   {{ $src = .Get "src" }}     {{ end }}
{{ $align := "left" }} {{ if isset .Params "align" }} {{ $align = .Get "align" }} {{ end }}
{{ $class := "" }}     {{ if isset .Params "class" }} {{ $class = .Get "class" }} {{ end }}
{{ $alt := "" }}       {{ if isset .Params "alt" }}   {{ $alt = .Get "alt" }}     {{ end }}
{{ $src := "#" }}      {{ if isset .Params "src" }}   {{ $src = .Get "src" }}     {{ end }}

<div align='{{ $align }}' class='{{ $class }}'>
    <img src='{{ $src }}' alt='{{ $alt }}'>
</div>
