{{ $defaultValues := .Site.Data.etc.defaultValues.img }}
{{ $isUnset       := $defaultValues.isUnset }}
{{ $src           := $defaultValues.src }}   {{ if isset .Params "src" }}   {{ $src = .Get "src" }}     {{ end }}
{{ $align         := $defaultValues.align }} {{ if isset .Params "align" }} {{ $align = .Get "align" }} {{ end }}
{{ $class         := $defaultValues.class }} {{ if isset .Params "class" }} {{ $class = .Get "class" }} {{ end }}
{{ $alt           := $defaultValues.alt }}   {{ if isset .Params "alt" }}   {{ $alt = .Get "alt" }}     {{ end }}
{{ $href          := $defaultValues.href }}  {{ if isset .Params "href" }}  {{ $href = .Get "href" }}   {{ end }}

<div align='{{ $align }}' class='{{ $class }}'>
    {{ if (not (eq $href $isUnset)) }}
    <a href="{{ $href }}"><img src='{{ $src }}' alt='{{ $alt }}'></a>
    {{ else }}
    <img src='{{ $src }}' alt='{{ $alt }}'>
    {{ end }}
</div>
