{{ $defaultValues := .Site.Data.etc.defaultValues.sectionWithImg }}
{{ $isUnset       := .Site.Data.etc.blackArt.isUnset }}
{{ $img           := $defaultValues.img }}      {{ if isset .Params "img" }}                 {{ $img = .Get "img" }}                      {{ end }}
{{ $title         := $defaultValues.title }}    {{ if isset .Params "textSectionTitle" }}    {{ $title = .Get "textSectionTitle" }}       {{ end }}
{{ $subtitle      := $defaultValues.subtitle }} {{ if isset .Params "textSectionSubtitle" }} {{ $subtitle = .Get "textSectionSubtitle" }} {{ end }}
{{ $copy          := $defaultValues.copy }}     {{ if isset .Params "textSectionCopy" }}     {{ $copy = .Get "textSectionCopy" }}         {{ end }}
{{ $href          := $defaultValues.href }}     {{ if isset .Params "ctaHref" }}             {{ $href = .Get "ctaHref" }}                 {{ end }}
{{ $label         := $defaultValues.label }}    {{ if isset .Params "ctaLabel" }}            {{ $label = .Get "ctaLabel" }}               {{ end }}
{{ $pos           := $defaultValues.pos }}      {{ if isset .Params "pos" }}                 {{ $pos = .Get "pos" }}                      {{ end }}

{{ if (eq $pos "imgOnLeft") }}
  <div class='invr-section-wrapper'>
    <div class='invr-section-row'>
      <div class='invr-section-column invr-section-element-b'>
        <div class='invr-column-elements'>
          {{ if (not (eq $title $isUnset)) }} <h3>{{ $title }}</h3> {{ end }}
          {{ if (not (eq $subtitle $isUnset)) }} <h4>{{ $subtitle }}</h4> {{ end }}
          {{ if (not (eq $copy $isUnset)) }} <p>{{ $copy }}</p> {{ end }}
          <div align='center' class='enroll-staff-btn'>
            {{ if (not (eq $href $isUnset)) }}<a href='{{ $href }}'>{{ $label }}</a> {{ end }}
          </div>
        </div>
      </div>
      <div class='invr-section-column invr-section-element-a'>
        <div class='invr-column-elements'>
          {{ if (not (eq $img $isUnset)) }} <img src='{{ $img }}'> {{ end }}
        </div>
      </div>
    </div>
  </div>
{{ else }}
  <div class='invr-section-wrapper'>
    <div class='invr-section-row'>
      <div class='invr-section-column invr-section-element-a'>
        <div class='invr-column-elements'>
          {{ if (not (eq $img $isUnset)) }} <img src='{{ $img }}'> {{ end }}
        </div>
      </div>
      <div class='invr-section-column invr-section-element-b'>
        <div class='invr-column-elements'>
          {{ if (not (eq $title $isUnset)) }} <h3>{{ $title }}</h3> {{ end }}
          {{ if (not (eq $subtitle $isUnset)) }} <h4>{{ $subtitle }}</h4> {{ end }}
          {{ if (not (eq $copy $isUnset)) }} <p>{{ $copy }}</p> {{ end }}
          <div align='center' class='enroll-staff-btn'>
            {{ if (not (eq $href $isUnset)) }}<a href='{{ $href }}'>{{ $label }}</a> {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
